---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #00AEFF;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

a:visited {
  color: #c03030;
}

.search__toggle {
  color: #00AEFF;
}

.site-title {
  color: black !important;
}
